.notification {
    border: solid 2px black;
    margin: 10px auto;
    padding: 10px;
    width: 50%
}

.notification-success {
    background-color: green;
}

.notification-danger {
    background-color: red;
}

.notification-info {
    background-color: yellow;
}
